aiodns==3.5.0
aiofile==3.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiohttp-socks==0.10.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.4.0
caio==0.9.24
ccxt==4.5.12
ccxtpro==1.0.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
coverage==7.11.0
-e file:///home/tommyk/projects/quant/data-sources/crypto-data/cryptofeed
cryptography==46.0.3
cython==3.1.6
frozenlist==1.8.0
idna==3.11
iniconfig==2.3.0
multidict==6.7.0
mypy==1.18.2
mypy-extensions==1.1.0
order-book==0.6.1
orjson==3.11.4
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
propcache==0.4.1
psutil==7.1.1
py-cpuinfo==9.0.0
pycares==4.11.0
pycparser==2.23
pydantic==2.12.3
pydantic-core==2.41.4
pydantic-settings==2.11.0
pygments==2.19.2
pynacl==1.6.0
pyscn==1.2.2
pysocks==1.7.1
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-benchmark==5.1.0
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-timeout==2.4.0
python-dotenv==1.1.1
python-socks==2.7.2
pyyaml==6.0.3
requests==2.32.5
ruff==0.14.2
setuptools==80.9.0
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.5.0
uvloop==0.22.1
websockets==15.0.1
yarl==1.22.0
